@{
    ViewBag.Title = "Confirmar E-mail";
    Layout = "~/Views/Shared/_ExternalAreaLayout.cshtml";
    Page.Title = "Confirmar E-mail";
}
<div class="login-box-body">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Obrigado por confirmar seu e-mail. Por favor @Html.ActionLink("Clique aqui para continuar", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
