@{
    ViewBag.Title = "Verificar E-mail";
    Page.Title = "Verificar E-mail";
    Layout = "~/Views/Shared/_ExternalAreaLayout.cshtml";
}
<div class="login-box-body">
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">
        Verifique seu e-mail e confirme seu endereço.
    </p>
    <p class="text-danger">
        Caso o e-mail não chegue clique neste link: <a href="@ViewBag.Link">link</a>
    </p>
</div>
