@{
    ViewBag.Title = "Confirmação de esquecimento de senha";
    Layout = "~/Views/Shared/_ExternalAreaLayout.cshtml";
    Page.Title = "Esqueci minha senha";
}
<div class="register-box-body">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Por favor, verifique seu e-mail para trocar sua senha.
        </p>
        <p class="text-danger">
            <h4>@ViewBag.Status <a href="@ViewBag.LinkAcesso">Link de acesso</a></h4>
        </p>
    </div>
</div>
