@{
    ViewBag.Title = "Confirmação de Restauração de Senha";
    Layout = "~/Views/Shared/_ExternalAreaLayout.cshtml";
    Page.Title = "Restauração de senha";
}
<div class="register-box-body">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Sua senha foi resetada. Por favor @Html.ActionLink("clique aqui para efetuar login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
