@model UPTEAM.Models.EquipeModel
@{
    ViewBag.Title = "Criar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Nova Equipe
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Nova Equipe</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <!-- /.box-header -->
        @using (Html.BeginForm("Criar","Equipe", FormMethod.Post))
        {
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <label labelfor="NomeEquipe">Nome:</label><br />
                        @Html.TextBoxFor(x => x.NomeEquipe, new { @class = "form-control", placeholder = "Nome da Equipe"} )
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Descrição:</label><br />
                        @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control", placeholder = "Descrição" })
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="Salvar"/>
                @Html.ActionLink("Voltar", "Index","",new { @class= "btn btn-default" })
            </div>
        }
        
    </div>
</section>