<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a class="logo-name" href="">
        <img src="assets/images/Up Team-logo.png" alt="">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="../../index2.html" method="post">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Confirm Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="date" class="form-control" placeholder="birthdate">
          <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="First Name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Last Name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input ui-mask="(99) 9999-99999" type="text" class="form-control" placeholder="Phone">
          <span class="glyphicon glyphicon-phone form-control-feedback"></span>
        </div>
        <button type="button" class="btn btn-default btn-block" name="button"></button>
      </form>
          <!-- /.social-auth-links -->


        </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->

    </div>
