@model UPTEAM.Presentation.Web.ViewModels.InfoBox
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>@Model.Dado</h3>
            <p>@Model.Descricao</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="@Model.Url" class="small-box-footer">Saiba mais<i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>