<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bdupteamEntitiesConnectionString" connectionString="metadata=res://UpTeam.Infra.Data/Context.UpTeamDB.csdl|res://UpTeam.Infra.Data/Context.UpTeamDB.ssdl|res://UpTeam.Infra.Data/Context.UpTeamDB.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=root;Password=admin;Host=localhost;Database=bd_upteam;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.MySql" type="Devart.Data.MySql.Entity.MySqlEntityProviderServices, Devart.Data.MySql.Entity.EF6, Version=8.8.862.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
</configuration>