<ion-view view-title="Menu de Equipe">
    <ion-content center text-center>
        <ion-grid>
            <div class="row row-center">
                <div class="col">
                    <button ng-click="participantes()" class="button icon-left ion-person-stalker button-block button-positive">
                        Participantes
                    </button>
                    <button class="button icon-left ion-clipboard button-block button-positive">
                        Projetos
                    </button>
                    <button class="button icon-left ion-chatboxes button-block button-positive">
                        Mensagens
                    </button>
                </div>
            </div>
        </ion-grid>
</ion-view>