  <ion-content>
    <form ng-submit="doLogin()">
        <ion-list>

            <ion-item>
                <ion-input type="text" placeholder="Username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>

        </ion-list>
          <!--<span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">-->
          <button class="button button-block button-positive" type="submit">Log in</button>
    </form>
  </ion-content>